#clockdiv {
    font-family: sans-serif;
    color: white;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    font-size: 42px;
  }

  #clockdiv>div {
    padding: 10px;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.55);
    display: inline-block;
  }

  #clockdiv div>span {
    padding: 15px;
    border-radius: 3px;

    background-color: red;
    display: inline-block;
    border-bottom: 1px solid white;
  }

  .smalltext {
    padding-top: 5px;
    font-size: 16px;
    font-weight: 100;
  }

  .midline {
    border-bottom: 1px solid white;
    position: relative;
    top: -66px;
  }

  @media screen and (max-width: 425px) {
    #clockdiv {
      /*
        Width needs to be 180px on partner seminar page
        */
      width: 180px;
    }

    #clockdiv>div {
      margin-top: 5px;
    }

    .content {
      text-align: center;
    }
  }
