/* Styles for the drop-down. Feel free to change the styles to suit your website. :-) */

.cb-dropdown-wrap {
    max-height: 80px; /* At most, around 3/4 visible items. */
    position: relative;
    height: 19px;
}

.cb-dropdown,
.cb-dropdown li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.cb-dropdown {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #fff;
    border: 1px solid #888;
}

/* For selected filter. */
.active .cb-dropdown {
    background: pink;
}

.cb-dropdown-wrap:hover .cb-dropdown {
    height: 80px;
    overflow: auto;
    transition: 0.2s height ease-in-out;
}

/* For selected items. */
.cb-dropdown li.active {
    background: #ff0;
}

.cb-dropdown li label {
    display: block;
    position: relative;
    cursor: pointer;
    line-height: 19px; /* Match height of .cb-dropdown-wrap */
}

.cb-dropdown li label > input {
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
}

.cb-dropdown li label > span {
    display: block;
    margin-left: 3px;
    margin-right: 20px; /* At least, width of the checkbox. */
    font-family: sans-serif;
    font-size: 0.8em;
    font-weight: normal;
    text-align: left;
}

/* This fixes the vertical aligning of the sorting icon. */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background-position: 100% 10px;
}
